input.gene-panel-table-row-select + svg.mantine-Checkbox-icon {
 display: none;
}

.gene-panel-table-survival input[data-indeterminate]:not(:disabled) {
  background-color: rgb(245 142 179);
}
.gene-panel-table-survival input[data-indeterminate]:hover {
  background-color: rgb(96 2 62 );
}

.gene-panel-table-survival input + svg {
  margin-left: 1px;
}
