@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import 'mantine-react-table/styles.css';
@import 'graphiql/graphiql.css';
@import '@graphiql/react/dist/style.css';
@import 'app.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-heading;
  }
}

@tailwind variants;
