@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import 'mantine-react-table/styles.css';
@import 'graphiql/graphiql.css';
@import '@graphiql/react/dist/style.css';
@import 'app.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-heading;
  }
}

[data-discovery-page='true'] .mantine-Drawer-header > .mantine-Button-root:last-of-type {
  display: none;
}

[data-discovery-page='true'] .mantine-Drawer-body > .flex.flex-col > .flex.mb-2 {
  display: none;
}

[data-hide-selection-column='true'] .mantine-Table-table thead > tr > th:first-child,
[data-hide-selection-column='true']
  .mantine-Table-table
  tbody
  > tr:not(.mantine-Table-tr-detail-panel)
  > td:first-child {
  display: none;
}

@tailwind variants;
